
:root {
  --black: #000000;
  --white: #ffffff;
  --text: #707070;
  --text-2: #ccc;
  --blue: #0079f4;
}

body{
  color: var(--black);
  font-family: 'Lato', sans-serif;
}

main.main {
    position: relative;
    z-index: 1;
}

.navbar-toggler-icon{
  background-image: url("../images/nav-toggler.png");
}

ul{
  list-style: none;
  padding: 0;
}

.container{
    margin: 0 auto;
    max-width: 1060px;
    position: relative;
    z-index: 1;
}

.content {
    max-width: 700px;
    margin: 0 auto;
}

header{
  background-color: var(--black);
  padding-top: 10px;
  position: relative;
  z-index: 2;
}

/* breadcrumb */
.breadcrumb{
  margin-bottom: 0;
}
.breadcrumb span {
    background: url(../images/arrow_right.png) no-repeat scroll 0 0 #e2e3e4;
    background-position: right 2px;
    padding-right: 20px;
    height: 26px;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 8px;
    text-transform: none;
    min-height: 34px;
    font-weight: bold;
    font-size: 14px;
}

.breadcrumb span a{
  font-size: 16px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}


/* top bar*/
a{
  text-decoration: none;
}
.logo{
  max-width: 180px;
}

.logo img{
  width: 100%;
}

.top-bar .contact{
  color: var(--text-2);
  font-size: 14px;
  text-decoration: none;
}
.top-bar .contact:hover{
  color: var(--white);
}

.top-bar input.form-control ,.input-group-text,.language{
  font-size: 14px;
    padding: 0;
    padding-left: 5px;
    color: var(--text-2);
    background: var(--black);
}



.top-bar .input-group-text{
  padding-right: 5px;

}

.language, .search input, .top-bar .input-group-text {
    border: 1px solid #666 !important;
    border-radius: 0;
}

.top-bar input.form-control,  .search input {
    border-right: 0 !important;
    border-radius: 0;
}


.dropdown-toggle::after {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language ul.dropdown-menu{
    background: #333;
    border: 0;
    color: #fff;
    padding: 5px; 
    max-width: 136px;
    list-style: none;
    margin-top: 25px;
   
}

.top-bar{
 position: relative;
    z-index: 999;
}

.language ul.dropdown-menu li a{
  font-size: 14px;
  padding: 0 ;   
    margin: 0 ;
    height: auto;
    font-size: 12px;
    color: #aaa ;
    border-bottom: 1px dashed #666;
}

li.selected a{
  color: rgb(0,96,254) !important;
}

.top-bar input.form-control::placeholder{
  color: var(--text-2);
}

.top-bar .form-control:focus{
  box-shadow: none;
}


.search, .language{
  max-width: 136px;
  max-height: 38px;
}

.mw-fit{
  max-width: fit-content;
}

.top-bar .contact, .search, .language{  
  padding: 0 10px;
}

.log-in{
    letter-spacing: 1px;
    color: var(--white);
    margin: 7px 35px !important;
    text-transform: uppercase;
    font-size: 12px;
}

.log-in:hover{
  color: var(--text-2);
}

.sign-up{
    background: var(--blue);
    border-radius: 5px;
    padding: 7px 40px;
    color: var(--white);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

.sign-up:hover {
    background: #005cba;
    color: #ffffff;
}

/* menu */

.dropdown-menu{
  padding: 10px;
}

.nav-item.dropdown:hover > .dropdown-menu {
    display: block; 
    width: fit-content;
}


/* dropdown submenu */
    .dropdown-menu li {
position: relative;
}
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 103%;
top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

.dropdown-submenu::before {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-bottom: 0;
    border-left: 8px solid transparent;
    color: #bbbbbb;
    position: absolute;
    top: 15px;
    left: -17px;
    transform: rotate(90deg);

}
/* dropdown submenu */


a.dropdown-item{
  font-size: 14px ;
  color: var(--black) ;
  margin-left: 10px ;
  line-height: 25px ;
}

.menu-title a{ 
  font-size: 14px ;
  color: var(--blue) ;
  font-weight: bold ;
  line-height: 25px ;
  text-decoration: underline;
}

.menu-title a:hover{ 
  font-size: 14px !important;
  color: var(--blue) !important;
  font-weight: normal !important;
}

a.dropdown-item:hover{
  font-weight: bold;
  background: transparent;
}
.main-menu ul li{
  position: relative;
}

.main-menu ul li::before{
    content: url("../images/menu_sep.jpg");
    width: 2px;
    position: absolute;
    top: 10px;
    left: -8px;
  }

  .main-menu ul li:first-child:before{
    content: none;
  }

.main-menu ul li a{
    color: var(--white);
    font-size: 17px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 40px;
    letter-spacing: 1px;
}

.main-menu ul li a.active{
  color: var(--white) !important;
  border-bottom: 2px solid var(--blue);
  font-weight: bold;
}

.main-menu ul li a.active:hover{
  color: var(--text-2) !important;
}

.main-menu ul li a:hover{
  color: var(--text-2);
}

/* img-card */
.img-card{
  border: 0;
}

.img-card ul li{
  padding: 5px 0;
}

.img-card ul li a{
  color: var(--blue);
}

.img-card ul li a:hover{
  color: var(--black);
}

/* page top banner */
  .page-top-banner{
    margin-bottom: 50px;
  }


/* text box */
.text-box{
  max-width: 700px;
  margin: 0 auto;
}

.text-box h1{
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

/* img-text-sm */
.img-text-sm{
  max-width: 120px;
}

/* text box - title underline */
.text-box-underline h2{
    border-bottom: 1px solid #000;
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.text-box-underline p{
    font-size: 16px;
    color: #1e1e1e;
    line-height: 24px;
}

/* room rate */
.room-rate h2{
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0;
}

p{
  margin-bottom: 0;
}

.rate-box{
  margin-bottom: 20px;
}

.rate-box a{
  color: rgb(0, 0, 255);
}

a.btn-primary, input.btn-primary {
    margin: 20px 0px 25px;
    background: #1130a3;
    padding: 12px 25px;
    border-radius: 30px;
    display: inline-flex;
      font-weight: 700;
    color: #dca85e !important;
    text-transform: uppercase;
}


a.btn-primary:hover, input.btn-primary:hover {
    color: var(--white) !important;
    background: #0079f4 !important;
}

.reservationform input[type=text], .reservationform select {
    border: 1px #ccc solid;
    width: 65%;
}

input{
  color: #333;
    font-size: 14px;
    font-family: Lato,Arial,sans-serif;
    padding: 3px;
    vertical-align: middle;
}




/* footer */
footer .subscribe a{
  color: #FFF;
    font-size: 20px;
    padding: 8px 0 10px 65px;
    margin: 0 auto;
}

.footer-share span{
  color: #FFF;
    font-size: 20px;
    padding-right: 10px;
}

.footer-share a{
  padding: 0 7px;
}

.footer-share a img{
  width: 32px;
}

footer{
  background-color: var(--black);
}
.footer-top{
  padding: 20px 0 15px 0;
  border-bottom: 1px solid var(--white);
}

.footer{
  padding-top: 30px;
  text-align: left;
  padding-bottom: 15px;
}

.footer ul{
  overflow: hidden;
}

.footer ul > li {
    float: left;
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer ul > li span b{
  color: var(--white);
}
.footer ul > li a{
    display: block;
    color: #8a8a8a;
    font-family: Lato,Arial,sans-serif;
    font-size: 11px;
    line-height: 15px;
}

.footer ul > li a:hover{
  color: #ccc;
}

.footer-bottom{
  color: #8a8a8a;
}

.footer-bottom a{
    color: #8a8a8a;
    font-size: 12px;
    padding: 0 5px;
}

.footer-bottom-copyright{
  color: #959595;
    line-height: 15px;
    padding-bottom: 10px;
    margin-top: 15px;
    position: relative;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

footer a:hover{
  color: #ccc;
}


/* responsive css */
@media screen and (max-width: 991px) {
  .logo{
    margin: 0 auto;
    margin-bottom: 7px;
  }
  body > header > div.top-bar.mb-3 > div > div > div.col-lg-6.d-flex.flex-row.align-items-center.mw-fit.p-2,.col-lg.login-signup.d-flex.justify-content-end {
    justify-content: center !important;
    margin-bottom: 7px;
}

.mw-fit{
  max-width: 100%;
}
  .main-menu ul li::before{
    content: none;
    text-align: left;
  }

  }